<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--     <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<!--     <link th:href="@{/publicstyle/ok.css}" rel="stylesheet" /> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/datatable.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap4.min.css}">
<script type="text/javascript"
	th:src="@{/webjars/jquery/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/css/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/css/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript"
	th:src="@{/css/dataTables.responsive.min.js}"></script>
<script th:src="@{/css/responsive.bootstrap4.min.js}"></script>

<style>
.table-bordered th, .table-bordered td {
    border: 1px solid white !important;
} .img-fluid{max-height:50% !important;}
</style>
<title>Registration</title>
</head>
<body>
<span>Error</span>	
</body>
</html>