<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--     <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<!--     <link th:href="@{/publicstyle/ok.css}" rel="stylesheet" /> -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/datatable.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap4.min.css}">
<script type="text/javascript"
	th:src="@{/webjars/jquery/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/css/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/css/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript"
	th:src="@{/css/dataTables.responsive.min.js}"></script>
<script th:src="@{/css/responsive.bootstrap4.min.js}"></script>

<style>
.table-bordered th, .table-bordered td {
    border: 1px solid white !important;
} .img-fluid{max-height:50% !important;}
</style>
<title>Registration</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">BUTAMWA FIRM</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/butamwa/admin}">Home</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item active">
					<a class="nav-link" th:href="@{/butamwa/ViewAlluser}">all users</a>
				</li>
				<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_FARMER')"
					class="nav-item active"><a class="nav-link" href="#">our
						clients</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item active">
					<a class="nav-link" href="#">Reports</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Dropdown </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a> <a
							class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div></li>
				<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0" th:form-method="post"
				th:action="@{/logout}">
				<span><i>welcome</i> <strong sec:authentication="name"></strong></span>&nbsp;&nbsp;
				<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log
					Out</button>
			</form>
		</div>
	</nav>
	<div class="container">
		<div class="row" style="margin-top:20px !important; ">

			<div class="col-lg-12">
				<div class="card col-lg-8 " th:each="objectr : ${famdtl}"
					>
					<img alt="" class="img img-fluid"
						th:src="@{${'/images/portifolioImage/' +objectr.yourpictureimage}}" />
					<div class="card-body">

					
							<div class="table-responsive">
							<table class="table table-bordered ">
 
  <tbody>
    <tr>
           <td><strong>amazina</strong></td>
      <td><span th:text="${objectr.user.userfirstname}"></span>&nbsp;<span
								th:text="${objectr.user.userlastname}"></span></td>
    </tr>
    <tr>
     
      <td><strong>Nshinzwe</strong></td>
      <td><span th:text="${objectr.dailactivity}"></span></td>
    </tr>
    <tr>
      
      <td><strong>contact</strong></td>
      <td><span	th:text="${objectr.contactnumber}"></span></td>
    </tr>
    <tr>
      
      <td><strong>numero y'indangamuntu</strong></td>
      <td><span	th:text="${objectr.nationalidnumber}"></span></td>
    </tr>
     <tr>
      
     <td><strong>indangamuntu</strong></td> 
      <td><span	><a th:href="@{${'/images/farmerimages/' +objectr.idcardimage}}">Download pdf file</a></span></td>
    </tr>
    <tr>
      
      <td><strong>login name</strong></td>
      <td><span	th:text="${objectr.user.username}"></span></td>
    </tr>
    <tr>
      
      <td><strong>status</strong></td>
      <td><span style="background-color: green; color:white; border-radius:10%; padding:5px;font-size:10px  "
							th:text="${objectr.user.active}"></span></td>
    </tr>
    <tr>
      
      <td><strong>role</strong></td>
      <td><span th:text="${objectr.user.roles}"></span></td>
    </tr>
    <tr>
      
      
      <td><a th:href="@{/butamwa/ViewAllFarmer}"	class="btn btn-secondary">go Back</a></td>
    </tr>
  </tbody>
</table></div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
	<!-- <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js/}"></script> -->
	<!-- <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script> -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#example').DataTable();
		});
	</script>
</body>
</html>