<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" s
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/solid.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/v4-shims.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fontawesome.min.css}" />
<script type="text/javascript" src="/webjars/jquery/jquery.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link th:href="@{/publicstyles/okk.css}" rel="stylesheet" />
<style>
.img-fluid {
	max-height: 60% !important
}

@media ( min-width : 768px) {
	.carousel-multi-item-2 .col-md-3 {
		float: left;
		width: 25%;
		max-width: 100%;
	}
}

.carousel-multi-item-2 .card img {
	border-radius: 2px;
}

#backk {
	color: #6c757d !important;
	background-color: #6c757d !important;
	padding: 10px 10px 7px 5px !important;
	border-radius: 50% !important;
}

#nextt {
	color: #6c757d !important;
	background-color: #6c757d !important;
	padding: 10px 7px 7px 10px !important;
	border-radius: 50% !important;
}

.ok {
	color: green !important;
}

.pend {
	color: red !important;
}
</style>
<body>
	<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">BUTAMWA FIRM</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/butamwa/admin}">Home</a></li>
				<li sec:authorize="hasRole('ROLE_farmerr')" class="nav-item active">
					<a class="nav-link" th:href="@{/client/reg}">Register Clients</a>
				</li>
				<li sec:authorize="hasRole('ROLE_farmerr')" class="nav-item active">
					<a class="nav-link" th:href="@{/milk/sellingmilk}">Selling Milk</a>
				</li>
				<li sec:authorize="hasRole('ROLE_farmerr')" class="nav-item active">
					<a class="nav-link" th:href="@{/uploaded/uploads}">Post Cows
						news</a>
				</li>

				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item active">
					<a class="nav-link" th:href="@{/butamwa/admindashboard}">Admin
						Dashboard</a>
				</li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"
					sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_farmerr')"> View
						All Users</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item"
							th:href="@{/butamwa/ViewAllFarmer}">View Farmer Details </a> <a
							sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item"
							th:href="@{/butamwa/ViewAlluser}">View All Registered users<sup><span
								style="color: red; position:" th:text="${newusers}+' '+'New'"></span></sup>
						</a> <a class="dropdown-item" th:href="@{/client/ourCustomers}">View
							all Customers</a>
						<!--           <div class="dropdown-divider"></div> -->
						<a class="dropdown-item" th:href="@{/milk/sellingmilkview}">view
							Daily Milk</a> <a class="dropdown-item"
							sec:authorize="hasRole('ROLE_farmerr')"
							th:href="@{/uploaded/viewAmakuru}">manage cows news</a>
					</div></li>

			</ul>
			<form class="form-inline my-2 my-lg-0" th:form-method="post"
				th:action="@{/logout}">
				<span><i>welcome</i> <strong><span th:text="${mine}"></span></strong></span>&nbsp;&nbsp;
				<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log
					Out</button>
			</form>
		</div>
	</nav>
	<div class="container" style="margin-top: 10px;">
		<div class="row">
			<div class="card col-lg-2">
				<div class="card-body">
					<h5 class="card-title">admins</h5>
					<h6 class="card-subtitle mb-2 text-muted ok">
						registered <sup><h2 th:text="${admin}"></h2></sup>
					</h6>
					<h6 class="card-subtitle mb-2 text-muted pend">
						pending <sup><h2 th:text="${adminpending}"></h2></sup>
					</h6>

				</div>
			</div>
			<div class="card col-lg-2">
				<div class="card-body">
					<h5 class="card-title">farmers</h5>
					<h6 class="card-subtitle mb-2 text-muted ok">
						registered <sup><h2 th:text="${farmer}"></h2></sup>
					</h6>
					<h6 class="card-subtitle mb-2 text-muted pend">
						pending <sup><h2 th:text="${farmerpending}"></h2></sup>
					</h6>

				</div>
			</div>
			<div class="card col-lg-2">
				<div class="card-body">
					<h5 class="card-title">vistors</h5>
					<h6 class="card-subtitle mb-2 text-muted ok">
						registered <sup><h2 th:text="${visitor}"></h2></sup>
					</h6>
					<h6 class="card-subtitle mb-2 text-muted pend">
						pending <sup><h2 th:text="${visitorpending}"></h2></sup>
					</h6>
				</div>
			</div>
		</div>
	</div>
</body>
</html>